<html>

  <head>
    <title>Email verification</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <section class="hero is-success is-fullheight">
    <divc class="hero-body is-flex is-flex-direction-column is-justify-content-center">
      <div class="mt-6 is-flex is-flex-direction-column is-align-items-center is-justify-content-center">
        <p class="has-text-weight-bold is-size-1">
          Verification Complete!
        </p>
        <p class="subtitle">
          You can now go back to your work and collaborate to others!
        </p>
      </div>
      </div>
  </section>

</html>